@import 'normalize.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(33, 33, 33, 0.87);
  background-color: #e6e6e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.menu-list {
  padding: 0;
  /* border-bottom: solid 1px #777; */

  li {
    border-top: solid 1px #777;
    padding: 0.75rem 0.5rem;
    text-align: left;
    list-style: none;
  }

  li:last-child {
    border-bottom: 1px solid #777;
  }
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.card {
  padding: 2em;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.read-more-link {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  font-size: 0.8rem;
  padding-bottom: 3px;
  /* テキストと下線の間隔 */
  background-image: linear-gradient(#646cff, #646cff);
  background-repeat: no-repeat;

  background-position: bottom center;
  /* 下線の初期位置 */
  background-size: 0 1px;
  /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;

  &:hover {
    background-position: bottom center;
    /* 下線のホバー時位置 */
    background-size: 100% 1px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  background-color: #cbcbcb;
  overflow: hidden;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */